<head>
    <link href='https://fonts.googleapis.com/css?family=Advent+Pro:400,700' rel='stylesheet' type='text/css'>
    <title>MyAppWall</title>
</head>

<body>
    <h1>MyAppWall</h1>
    <div class="row">
        <div class="col s3">
            {{> form}}
        </div>
        <div class="col s9">
            {{> posts}}
        </div>
    </div>
</body>