<template name="form">
    <form class="add-new-post">
        <input type="file"/>
        <input type="text" placeholder="add a name"/>
        <input type="text" placeholder="add a message"/>
        <div class="center-button">
            <button class="waves-effect waves-light btn">Submit</button>
        </div>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
        <div class="grid-item">
            {{updateMasonry}}
            <!--<img src="{{this.url}}"/>-->
            <img src="{{postImage}}">
            <p>{{this.name}}</p>
            <p>{{this.message}}</p>
            <p>{{this.createdAt}}</p>
        </div>
        {{/each}}
    </div>
</template>