.grid-sizer, .grid-item {
    width: 32%;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

h1 {
    text-align: center;
}
body {
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/4b/11/73/4b11736a517898a9d6a4459d75f01880.jpg);
    background-size: cover;
    font-family: 'Advent Pro', sans-serif;
}

.center-button {
    text-align: center;
}